.bash_history\n.cache/\n.gitconfig\n.lingma/\n.local/\n.vscode/\nAppData/\nNTUSER.DAT*\nntuser.*\nDesktop/\nDocuments/\nDownloads/\nMusic/\nPictures/\nVideos/\nOneDrive/\n3D Objects/\nContacts/\nCookies/\nFavorites/\nLinks/\nLocal Settings/\nRecent/\nSaved Games/\nSearches/\nSendTo/\nmy-first-project/\n*\320*
